# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
env/

# Environment variables
.env

# Git
.git
.gitignore

# Docker
Dockerfile
docker-compose.yml

# Tests & docs
tests/
docs/

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Alembic cache
alembic/versions/__pycache__/